In [1]:
import pandas as pd
import numpy as np

In [2]:
dataset=pd.read_csv("Placement.csv")

In [3]:
dataset.describe()

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
count,215.000000,215.000000,215.000000,215.000000,215.000000,215.000000,148.000000
mean,108.000000,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
std,62.209324,10.827205,10.897509,7.358743,13.275956,5.833385,93457.452420
min,1.000000,40.890000,37.000000,50.000000,50.000000,51.210000,200000.000000
25%,54.500000,60.600000,60.900000,61.000000,60.000000,57.945000,240000.000000
50%,108.000000,67.000000,65.000000,66.000000,71.000000,62.000000,265000.000000
75%,161.500000,75.700000,73.000000,72.000000,83.500000,66.255000,300000.000000
max,215.000000,89.400000,97.700000,91.000000,98.000000,77.890000,940000.000000

In [4]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 215 entries, 0 to 214
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   sl_no           215 non-null    int64
 1   gender          215 non-null    object
 2   ssc_p           215 non-null    float64
 3   ssc_b           215 non-null    object
 4   hsc_p           215 non-null    float64
 5   hsc_b           215 non-null    object
 6   hsc_s           215 non-null    object
 7   degree_p        215 non-null    float64
 8   degree_t        215 non-null    object
 9   workex          215 non-null    object
 10  etest_p         215 non-null    float64
 11  specialisation  215 non-null    object
 12  mba_p           215 non-null    float64
 13  status          215 non-null    object
 14  salary          148 non-null    float64
dtypes: float64(6), int64(1), object(8)
memory usage: 25.3+ KB

In [5]:
dataset.dtypes

sl_no               int64
gender             object
ssc_p             float64
ssc_b              object
hsc_p             float64
hsc_b              object
hsc_s              object
degree_p          float64
degree_t           object
workex             object
etest_p           float64
specialisation     object
mba_p             float64
status             object
salary            float64
dtype: object

In [6]:
def quanQual():
    qual=[]
    quan=[]
    for columnName in dataset.columns:
        if (dataset[columnName].dtype=='O'):
            qual.append(columnName)
        else:
            quan.append(columnName)
    return qual,quan
        
qual,quan=quanQual()

In [7]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [8]:
import pandas as pd
import numpy as np

def descriptive(dataset, quan):
    # Create an empty DataFrame with specified rows (index) and columns
    descriptive = pd.DataFrame(index=["Mean", "Median", "Mode", "Q1:25%", "Q2:50%", "Q3:75%", "90%", "Q4:100%", 
                                      "IQR", "1.5Rule", "LesserOutlier", "GreaterOutlier", "Min", "Max"], 
                               columns=quan)
    
    # Precompute dataset.describe() to avoid redundant calculations
    summary = dataset[quan].describe()
    
    for columnName in quan:
        # Compute descriptive statistics
        descriptive.loc["Mean", columnName] = dataset[columnName].mean()
        descriptive.loc["Median", columnName] = dataset[columnName].median()
        descriptive.loc["Mode", columnName] = dataset[columnName].mode().iloc[0]  # Safely get the first mode
        descriptive.loc["Q1:25%", columnName] = summary.at["25%", columnName]
        descriptive.loc["Q2:50%", columnName] = summary.at["50%", columnName]
        descriptive.loc["Q3:75%", columnName] = summary.at["75%", columnName]
        descriptive.loc["90%", columnName] = np.percentile(dataset[columnName], 90)
        descriptive.loc["Q4:100%", columnName] = summary.at["max", columnName]
        descriptive.loc["Min", columnName] = dataset[columnName].min()
        descriptive.loc["Max", columnName] = dataset[columnName].max()
        
        # Compute IQR and outlier thresholds
        IQR = descriptive.loc["Q3:75%", columnName] - descriptive.loc["Q1:25%", columnName]
        descriptive.loc["IQR", columnName] = IQR
        descriptive.loc["1.5Rule", columnName] = 1.5 * IQR
        descriptive.loc["LesserOutlier", columnName] = descriptive.loc["Q1:25%", columnName] - descriptive.loc["1.5Rule", columnName]
        descriptive.loc["GreaterOutlier", columnName] = descriptive.loc["Q3:75%", columnName] + descriptive.loc["1.5Rule", columnName]
    
    return descriptive

descriptive=descriptive(dataset, quan)

In [9]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,288655.405405
Median,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,300000.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,240000.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,265000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,300000.0
90%,193.6,82.0,79.0,77.12,92.0,70.678,NaN
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,60000.0
1.5Rule,160.5,22.65,18.15,16.5,35.25,12.465,90000.0
LesserOutlier,-106.0,37.95,42.75,44.5,24.75,45.48,150000.0
GreaterOutlier,322.0,98.35,91.15,88.5,118.75,78.72,390000.0
Min,1,40.89,37.0,50.0,50.0,51.21,200000.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

In [10]:
def Outliers(quan,descriptive):
    Outliers=[]
    for columnName in quan:
        LesserOutlier=descriptive[columnName]["LesserOutlier"]
        GreaterOutlier=descriptive[columnName]["GreaterOutlier"]
        #if descriptive[columnName]["Min"]<descriptive[columnName]["LesserOutlier"]:
        if descriptive[columnName]["Min"]<LesserOutlier:
            print("Outliers")
            Outliers.append(columnName)
        #if descriptive[columnName]["Max"]>descriptive[columnName]["GreaterOutlier"]:
        if descriptive[columnName]["Max"]>GreaterOutlier:
            Outliers.append(columnName)
    return Outliers

Outliers=Outliers(quan,descriptive)

Outliers

In [11]:
Outliers

['hsc_p', 'hsc_p', 'degree_p', 'salary']

In [17]:
def replaces(dataset,descriptive,Outliers):
    for columnName in Outliers:
        LesserOutlier=descriptive[columnName]["LesserOutlier"]
        GreaterOutlier=descriptive[columnName]["GreaterOutlier"]
        #dataset[columnName][dataset[columnName]<descriptive[columnName]["LesserOutlier"]]=descriptive[columnName]["LesserOutlier"]
        #dataset[columnName][dataset[columnName]<LesserOutlier]=LesserOutlier
        dataset.loc[dataset[columnName] < LesserOutlier, columnName] = LesserOutlier
        #dataset[columnName][dataset[columnName]>descriptive[columnName]["GreaterOutlier"]]=descriptive[columnName]["GreaterOutlier"]
        #dataset[columnName][dataset[columnName]>GreaterOutlier]=GreaterOutlier

            
        dataset.loc[dataset[columnName] > GreaterOutlier, columnName] = GreaterOutlier
    return replaces
    
#replaces=replaces(dataset,description,Outliers)

In [18]:
replaces

In [ ]:
descriptive

In [ ]:
descriptive

In [ ]:
descriptive

In [ ]:
Outliers

In [ ]:
def freqTable(columnName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Value","Frequency","Relative_Frequency","Cumsum"])
    freqTable["Unique_Value"]=dataset[columnName].value_counts().index
    freqTable["Frequency"]=dataset[columnName].value_counts().values
    freqTable["Relative_Frequency"]=freqTable["Frequency"]/103
    freqTable["Cumsum"]=freqTable["Relative_Frequency"].cumsum()
    return freqTable

In [ ]:
FreqTable("ssc_p",dataset)

In [ ]:
from datafile import datavalidation

In [ ]:
qual,quan=datavalidation.QualQuan(dataset)

In [ ]:
quan

In [ ]:
descriptive=datavalidation.univariate(dataset,quan)

In [ ]:
descriptive

In [ ]:
quan

In [ ]:
def find_outliers():
    outliers = []  # Use lowercase for variables to differentiate from the function name
    for column_name in quan:
        column_data = descriptive[column_name]  # Access dictionary once
        if column_data["Min"] < column_data["LesserOutlier"]:
            outliers.append(column_name)
        if column_data["Max"] > column_data["GreaterOutlier"]:
            outliers.append(column_name)
    return outliers

# Call the function
outliers = find_outliers()

In [ ]:
outliers

In [ ]:
def replace_outlier(dataset, outliers):
    for column_name in outliers:
        column_data = outliers[column_name]
        
        # Replace values below LesserOutlier
        dataset[column_name][dataset[column_name] < column_data["LesserOutlier"]] = column_data["LesserOutlier"]
        
        # Replace values above GreaterOutlier
        dataset[column_name][dataset[column_name] > column_data["GreaterOutlier"]] = column_data["GreaterOutlier"]
    
    return dataset

# Assuming you have a dataset and outliers defined
dataset = replace_outlier(dataset, outliers)

def Outliers():
    Outliers = []
    for columnName in quan:
        if descriptive[columnName]["Min"] < descriptive[columnName]["LesserOutlier"]:
            Outliers.append(columnName)
        if descriptive[columnName]["Max"] > descriptive[columnName]["GreaterOutlier"]:
            Outliers.append(columnName)
    return Outliers

Outliers = Outliers()

In [ ]:
Outliers

def replaceoutlier(columnName,Outliers):
    for columnName in Outliers:
        column_data=descriptive[columnName]
        dataset[columnName][dataset[columnName]<column_data["LesserOutlier"]]=column_data["LesserOutlier"]
        dataset[columnName][dataset[columnName]>column_data["GreaterOutlier"]]=column_data["GreaterOutlier"]
        return replaceoutlier

replaceoutlier=replaceoutlier(columnName,Outliers)

In [ ]:
def replace_outlier(dataset, outliers):
    for column_name in outliers:
        column_data = outliers[column_name]
        
        # Replace values below LesserOutlier
        dataset[column_name][dataset[column_name] < column_data["LesserOutlier"]] = column_data["LesserOutlier"]
        
        # Replace values above GreaterOutlier
        dataset[column_name][dataset[column_name] > column_data["GreaterOutlier"]] = column_data["GreaterOutlier"]
    
    return dataset,outliers

# Assuming you have a dataset and outliers defined
dataset = replace_outlier(dataset, Outliers)

In [ ]:
outliers

In [ ]:
Outliers=datavalidation.Outliers(columnName,quan)

In [ ]:
Outliers

In [ ]:
def replaceoutlier():
    for columnName in Outliers:
        dataset[columnName][dataset[columnName]<descriptive[columnName]["LesserOutlier"]]=descriptive[columnName]["LesserOutlier"]
        dataset[columnName][dataset[columnName]>descriptive[columnName]["GreaterOutlier"]]=descriptive[columnName]["GreaterOutlier"]
        return replaceoutlier

replaceoutlier=replaceoutlier()

In [ ]:
replaceoutlier(columnName,Outliers)

In [ ]:
descriptive

In [ ]:
descriptive[columnName]["Q4:100%"]descriptive[columnName]["GreaterOutlier"]<

In [ ]:
dataset.describe()

In [ ]:
descriptive

In [ ]:
def univariate(dataset,quan):
    descriptive=pd.DataFrame(columns=quan,index=["Mean","Median","Mode","Q1:25%","Q2:50%","Q3:75%","90%","Q4:100%","IQR","1.5Rule",
                                                     "LesserOutlier","GreaterOutlier","Min","Max"])
    for columnName in quan:
        descriptive[columnName]["Mean"]=dataset[columnName].mean()
        descriptive[columnName]["Median"]=dataset[columnName].median()
        descriptive[columnName]["Mode"]=dataset[columnName].mode()[0]
        descriptive[columnName]["Q1:25%"]=dataset.describe()[columnName]["25%"]
        descriptive[columnName]["Q2:50%"]=dataset.describe()[columnName]["50%"]
        descriptive[columnName]["Q3:75%"]=dataset.describe()[columnName]["75%"]
        descriptive[columnName]["90%"]=np.percentile(dataset[columnName],90)
        descriptive[columnName]["Q4:100%"]=dataset.describe()[columnName]["max"]
        descriptive[columnName]["Min"]=dataset[columnName].min()
        descriptive[columnName]["Max"]=dataset[columnName].max()
        descriptive[columnName]["IQR"]=descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive[columnName]["1.5Rule"]=1.5*(descriptive[columnName]["IQR"])
        descriptive[columnName]["LesserOutlier"]=descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5Rule"]
        descriptive[columnName]["GreaterOutlier"]=descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5Rule"]
    return descriptive

In [ ]:
univariate(dataset,quan)

In [ ]:
descriptive