In [53]:
import pandas as pd
import numpy as np

In [54]:
dataset=pd.read_csv("Placement.csv")

In [55]:
type(dataset)

pandas.core.frame.DataFrame

In [56]:
dataset.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [57]:
qual=[]
quan=[]
for columnName in dataset.columns:
    if dataset[columnName].dtype=='O':
        qual.append(columnName)
    else:
        quan.append(columnName)

In [58]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

In [59]:
qual

['gender',
 'ssc_b',
 'hsc_b',
 'hsc_s',
 'degree_t',
 'workex',
 'specialisation',
 'status']

In [60]:
dataset[quan]

     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p    salary
0        1  67.00  91.00     58.00     55.0  58.80  270000.0
1        2  79.33  78.33     77.48     86.5  66.28  200000.0
2        3  65.00  68.00     64.00     75.0  57.80  250000.0
3        4  56.00  52.00     52.00     66.0  59.43       NaN
4        5  85.80  73.60     73.30     96.8  55.50  425000.0
..     ...    ...    ...       ...      ...    ...       ...
210    211  80.60  82.00     77.60     91.0  74.49  400000.0
211    212  58.00  60.00     72.00     74.0  53.62  275000.0
212    213  67.00  67.00     73.00     59.0  69.72  295000.0
213    214  74.00  66.00     58.00     70.0  60.23  204000.0
214    215  62.00  58.00     53.00     89.0  60.22       NaN

[215 rows x 7 columns]

In [61]:
dataset[qual]

,gender,ssc_b,hsc_b,hsc_s,degree_t,workex,specialisation,status
0,M,Others,Others,Commerce,Sci&Tech,No,Mkt&HR,Placed
1,M,Central,Others,Science,Sci&Tech,Yes,Mkt&Fin,Placed
2,M,Central,Central,Arts,Comm&Mgmt,No,Mkt&Fin,Placed
3,M,Central,Central,Science,Sci&Tech,No,Mkt&HR,Not Placed
4,M,Central,Central,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
...,...,...,...,...,...,...,...,...
210,M,Others,Others,Commerce,Comm&Mgmt,No,Mkt&Fin,Placed
211,M,Others,Others,Science,Sci&Tech,No,Mkt&Fin,Placed
212,M,Others,Others,Commerce,Comm&Mgmt,Yes,Mkt&Fin,Placed
213,F,Others,Others,Commerce,Comm&Mgmt,No,Mkt&HR,Placed
214,M,Central,Others,Science,Comm&Mgmt,No,Mkt&HR,Not Placed

In [62]:
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit(dataset[quan])
dataset=imp.transform(dataset[quan])
df = pd.DataFrame(dataset[:], columns=['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary'])

In [63]:
df

     sl_no  ssc_p  hsc_p  degree_p  etest_p  mba_p         salary
0      1.0  67.00  91.00     58.00     55.0  58.80  270000.000000
1      2.0  79.33  78.33     77.48     86.5  66.28  200000.000000
2      3.0  65.00  68.00     64.00     75.0  57.80  250000.000000
3      4.0  56.00  52.00     52.00     66.0  59.43  288655.405405
4      5.0  85.80  73.60     73.30     96.8  55.50  425000.000000
..     ...    ...    ...       ...      ...    ...            ...
210  211.0  80.60  82.00     77.60     91.0  74.49  400000.000000
211  212.0  58.00  60.00     72.00     74.0  53.62  275000.000000
212  213.0  67.00  67.00     73.00     59.0  69.72  295000.000000
213  214.0  74.00  66.00     58.00     70.0  60.23  204000.000000
214  215.0  62.00  58.00     53.00     89.0  60.22  288655.405405

[215 rows x 7 columns]

In [64]:
dataset[qual]

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [65]:
cat=dataset[qual]
cat

IndexError: only integers, slices (`:`), ellipsis (`...`), numpy.newaxis (`None`) and integer or boolean arrays are valid indices

In [66]:
#merging two table into one
two=[pd,cat]
two

[<module 'pandas' from 'C:\\Users\\sathi\\anaconda3\\envs\\aiml1\\Lib\\site-packages\\pandas\\__init__.py'>,
     gender    ssc_b    hsc_b     hsc_s   degree_t workex specialisation  \
 0        M   Others   Others  Commerce   Sci&Tech     No         Mkt&HR
 1        M  Central   Others   Science   Sci&Tech    Yes        Mkt&Fin
 2        M  Central  Central      Arts  Comm&Mgmt     No        Mkt&Fin
 3        M  Central  Central   Science   Sci&Tech     No         Mkt&HR
 4        M  Central  Central  Commerce  Comm&Mgmt     No        Mkt&Fin
 ..     ...      ...      ...       ...        ...    ...            ...
 210      M   Others   Others  Commerce  Comm&Mgmt     No        Mkt&Fin
 211      M   Others   Others   Science   Sci&Tech     No        Mkt&Fin
 212      M   Others   Others  Commerce  Comm&Mgmt    Yes        Mkt&Fin
 213      F   Others   Others  Commerce  Comm&Mgmt     No         Mkt&HR
 214      M  Central   Others   Science  Comm&Mgmt     No         Mkt&HR

          status
 0        Placed
 1        Placed
 2        Placed
 3    Not Placed
 4        Placed
 ..          ...
 210      Placed
 211      Placed
 212      Placed
 213      Placed
 214  Not Placed

 [215 rows x 8 columns]]

In [67]:
preprocessed=pd.concat(two)

TypeError: cannot concatenate object of type '<class 'module'>'; only Series and DataFrame objs are valid

In [68]:
preprocessed = pd.concat([two], axis=1)

TypeError: cannot concatenate object of type '<class 'list'>'; only Series and DataFrame objs are valid

In [69]:
preprocessed=pd.concat(two,axis=1)

TypeError: cannot concatenate object of type '<class 'module'>'; only Series and DataFrame objs are valid

In [70]:
#preprocessed=pd.concat(two)
preprocessed = pd.concat(two, axis=1)

TypeError: cannot concatenate object of type '<class 'module'>'; only Series and DataFrame objs are valid